@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

@media only screen and (max-width: 600px) {



  nav {
    flex-direction: column;
    font-size: large !important;
  }

  .head {
    width: 100vw !important;
  }



  .menu ul {
    flex-direction: row !important;
    text-align: center;
    width: 100vw;
    justify-content: space-around !important;
    margin: 0px !important;
    padding: 3px 0px 14px 0px !important;
  }



  .menu ul li {

    padding: 2px !important;
    margin: 9px !important;


  }


  .menu ul a {
    padding: 9px !important;
    margin: 0px 0px !important;


  }



  .card-cart {
    justify-content: center !important;
    font-size: 10px !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    overflow: visible !important;
    height: 8rem !important;
    grid-template-areas:
      "img h3 "
      "p button" !important;
    grid-gap: 0px !important;
    margin: 0px 7px !important;


  }

  .card-cart .rmbtn {
    font-size: 10px !important;
    padding: px !important;
    margin: 0px !important;

  }




  .ptext {
    margin: 0px 12px !important;
  }


  .carts-item {
    grid-template-areas:
      'img title'
      'img price'
      'img button' !important;
    width: 30rem !important;
    height: 14rem !important;

  }



  .carts-item-img {
    width: 70% !important;
  }


}












nav {
  display: flex;
  font-size: larger;
  background-color: rgb(16, 21, 78);
  color: white;
}


.head {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;


}


.h-img {
  padding: 12px 48px;
  border-radius: 50%;
}

.h-head {
  color: white;
  font-size: 40px;
}

.menu {
  width: 60vw;
}

.menu ul {
  display: flex;
  list-style-type: none;
  justify-content: end;

}

.menu ul a {
  text-decoration: none;
  color: white;

}

.menu ul li {
  padding: 6px;
  margin: 3px;
}

.menu ul a {
  padding: 12px 24px;
  margin: 24px;

}

.bill {
  text-align: center;

}



.carts {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
}






.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 17rem;
  height: 23rem;
  margin: 6px;
  text-align: center;
  font-family: arial;
  padding: 12px;
}

.card>img {
  padding: 10px;
  float: center;
  width: auto;
  height: 9rem;
  background-size: cover;
}

.price {
  color: grey;
  font-size: 24px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  background-color: #ffd814;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color: #f9d108;
}






.item1 {
  grid-area: img;
  padding: 12px;
  width: 100%;
}

.item2 {
  grid-area: title;
}

.item3 {
  grid-area: price;
}

.item4 {
  grid-area: button;
}


.carts-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: 12px 0px !important;
  display: grid;
  grid-template-areas:
    'img title price button';

  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0px;
  width: 65rem;
  height: 10rem;

}

.carts-item-img {
  width: 30%;
}

.ptext {
  margin: 0px 36px;
}

.count_btn {
  background-color: green;
  color: white;
  padding: 5px 12px;
  border: 1px solid black;
  border-radius: 5px;

}

.count-btn {
  background-color: red;
  color: white;
  padding: 5px 12px;
  border: 1px solid black;
  border-radius: 5px;

}

.rmbtn {
  background-color: red;
  color: white;
  padding: 5px 12px;
  border: 1px solid black;
  border-radius: 12px;
}



<<<<<<< HEAD=======.card-cart img {
  width: 36%;
}

>>>>>>>00535a416e322eee512e077dc64272393e3b3823 .rmbtn:hover {
  background-color: #f90808;
}












footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: rgb(16, 21, 78);
  color: white;

}